@import "tailwindcss";

@theme {
  --color-primary-1: #353535;
  --color-primary-2: #282938;
  --color-secondary-1: #A45D00;

  --color-gray-1: #DEDEDE;

  --color-button-text: #25282B;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Heebo', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary-1);
}

p {
  font-size: 24px;
}

span.text-secondary-1{
  font-size: 24px;
}

hr {
  margin: 10px 0;
}
